/ #new_list
/   = form_for @list do |f|

        

/     .field
/       %ul
/         %li
/           %span !!
/           =text_field_tag 'action', nil, placeholder: 'DoABarrelRoll'
/         %li.add-action
/           %a.add-action + action
/     .actions
/       = f.submit 'Save'

#new_list
  = form_for @list, method: 'PUT', html: {id: ''} do |list_form|
    - if @list.errors.any?
      #error_explanation
        %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
        %ul
          - @list.errors.full_messages.each do |msg|
            %li= msg
    .field
      .list-form-header
        .list-title
          %span //
          = list_form.text_field :title, placeholder: "TitleOfList"
        .description-block  
          %a.list-description-link + description
          .description{style:"display:none;"}
            = list_form.text_area :description, placeholder: "enter a brief description of your list"    
    / = flow_form.hidden_field :name
    / = flow_form.hidden_field :organization_id
    
    // BLOCK /////////////////////////////////////
    = list_form.fields_for :actions, @list.actions.build do |primary_action_form|
      .action-container
        .action-block
          .new-nested-action
            %span !!
            = primary_action_form.text_field :title, placeholder: "DoABarrelRoll"
            
      // ADD ACTION BUTTON
      = link_to_add_nested_fields nil, list_form, :actions, class: 'add-nested-action', link_attributes: {tabindex: -1} do
        + action

    .submit
      %a{"data-list-id" => @list.id, :href => "#", :role => "button"}
        Populate