#new_list
  = form_for @list, html: {id: ''} do |f|
    - if @list.errors.any?
      #error_explanation
        %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
        %ul
          - @list.errors.full_messages.each do |msg|
            %li= msg
    .field
      .list-form-header
        .list-title
          %span //
          = f.text_field :title, placeholder: "NameYourList"
        .description-block  
          %a.list-description-link.add-plus description
          .description{style:"display:none;"}
            = f.text_area :description, placeholder: "Enter a brief description of your list"

    = f.fields_for :actions, @list.actions.build do |action|
      = render 'action_fields', f: action
    .links
      = link_to_add_association 'action', f, :actions, class: 'add-plus'
    .submit
      = f.submit 'Save'
