.container
  .row
    .col-lg-3.sidebar
      /Trending Actions
      .trending.card
        =render 'pages/trending_actions'

      /Lists
      /render top 3 lists
      .lists.card
        =render 'pages/trending_lists'

      /Leaders
      /render top 3 local leaders
      .leaders.card
        =render 'pages/local_leaders'

    .col-lg-8
      #feed
        #post_field
          =form_for @post, html:{remote: true} do |f|
            =text_area_tag :query, params[:query], id: "post_form", class: 'form-control action-input', placeholder: 'What actions did you take today?', name:"post[content]", rows: 3
            #hidden_fields
            /search--if found, log tag_id. if NOT found, create new tag, log new_tag_id
            /on post submission, create tagging and create post
            = button_tag "Stay Up", class: 'btn btn-default'


        #list

          %h1
            = @list.title
          %p
            = @list.description
          %ul
            -@list.actions.each do |a|
              %li
                %a.pretty-link.bangbang-pretty-link{href:"/bangbang/1"}
                  %span !!
                  = a.title
                %p
                  = a.description
