.col-lg-5
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    -resource.assets.build unless resource.assets.first
    .form-group
      =f.label :name, class: 'control-label'
      .controls
        =f.text_field :name, type: "text", class: "form-control", :placeholder => "Eugene Jackson"
    .form-group
      = f.label :email, class: 'control-label'
      .controls
        = f.email_field :email, autofocus: true, class: "form-control", :placeholder => "big@dog.com"
    /there are 8 fields because there are 8 assets associated with this record...make it so there is only ever one profile picture    
    = f.fields_for :assets do |images_form|
      = images_form.file_field :image, type:"file"
   
    .form-group
      = f.label :occupation, class: 'control-label'
      .controls
        = f.text_field :occupation, type: "text", autofocus: true, class: "form-control", :placeholder => "MMA Coach"
    .form-group
      = f.label :bio, class: 'control-label'
      .controls
        = f.text_area :bio, type:"text", autofocus: true, class: "form-control", :rows => "7", :placeholder => "Tell us about what you do..."

    .form-group
      =f.label :facebook_url, class: 'control-label'
      .controls
        =f.text_field :facebook_url, type: "text", class: "form-control", :placeholder => "http://www..."
  
    .form-group
      =f.label :twitter_url, class: 'control-label'
      .controls
        =f.text_field :twitter_url, type: "text", class: "form-control", :placeholder => "http://www..."
        
    .form-group
      = f.label :email, class: 'control-label'
      .controls
        = f.email_field :email, autofocus: true, class: "form-control", :placeholder => "big@dog.com"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      = f.label :password, class: 'control-label'
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, autocomplete: "off", class: "form-control"
    .form-group
      = f.label :password_confirmation, class: 'control-label'
      .controls
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    .form-group
      = f.label :current_password, class: 'control-label'
      %i (we need your current password to confirm your changes)
      .controls
        = f.password_field :current_password, autocomplete: "off", class: "form-control"
    .submit
      =f.submit "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
