-if current_user && current_user === @user
  .current-activities-form
    -3.times do |a|
      %div
        %span.number
          %p
            #{(a+1).to_s + ". " }
            #{puts "$$$$$$$$$" + @user.activities[a].to_s + "and" + @user.activities[a].nil?.to_s }
        .current-activity
          -if !@user.activities[a].nil? && @user.activities[a].title
            #{puts "!!!!!!!1user activity exists1!!!!!!!!!"}
            %div{id: "activity_#{a}"}
              /activity not equal to nil
              =render partial: 'activity', locals: {user: @user, activity: @user.activities[a], temp_id: a}
        
        
            / %div{id: "activity_#{@user.activities[a].id}"}
            /   /activity not equal to nil
            /   =render partial: 'activity', locals: {user: @user, activity: @user.activities[a], temp_id: a}
          -else
            /activity is NIL
            %div{id: "activity_#{a}"}
              =render partial: 'activity', locals: {user: @user, activity: @activity, temp_id: a}
            / %div{id: "new_activity_#{a}"}
            /   =render partial: 'activity', locals: {user: @user, activity: @activity, temp_id: a}
    
      
-else
  -@user.activities.each_with_index do |a, i|
    -if i==4
      break
    %p
      #{(i+1).to_s + ". " + (a.title ? a.title : '')}
  