/VERSION 2

.row
  .col-lg-2
  .user-card-container
    .col-lg-8.user-card          
      .text-center
        %h1.name
          =@user.name
      .profile-pic
        .round-border
          .round.round-center
            -if @user.profile_photo_file_name
              =image_tag(@user.profile_photo.nil?  ? '/assets/user-placeholder.png': @user.profile_photo.url(:medium), :alt => @user.name, class: "circle-image")
            -else
              =image_tag(@user.assets.empty?  ? '/assets/user-placeholder.png': @user.assets.first.image.url(:medium), :alt => @user.name, class: "circle-image")
      #ambition
      .text-center 
        .story
          .story-header
            %p
              WHERE I WANT TO BE IN 5 YEARS
          .story-text#ambition
            =render partial: 'ambition', locals: {user: @user}
            /%p=@user.ambition
            / -if current_user && current_user == @user
            /   %span.text-center.edit-link=link_to "Edit Details", edit_user_registration_path(current_user)
          
            
            
            / -if @user.leader?
            /   =link_to "Your Dashboard", leader_dashboard_path, style:"font-size:50%"
            
          =render partial: 'shared/follow', locals: {user: @user}
          - content_for :head do
            %meta{:content => "Ambition Spotlight | #{@user.name}", :property => "og:title"}
            %meta{:content => "#{@user.ambition}", :property => "og:description"}
            %meta{:content => "http://www.ambitionspotlight.com" + user_path(@user), :property => "og:url"}
            
            %meta{:content => "#{@user.profile_photo_file_name.nil?  ? '/assets/user-placeholder.png': @user.profile_photo.url(:medium)}", :property => "og:image"} 
            %meta{property: "og:type", content:"article"} 
          

          .share.text-center
            %a{class: "fb-share-link btn btn-large make-button follow-button", "data-name"=> "#{@user.name}", "data-link"=> "http://www.ambitionspotlight.com#{user_path(@user)}", "data-image" => "#{@user.profile_photo.nil?  ? '/assets/user-placeholder.png': @user.profile_photo.url(:medium)}", "data-description"=>"#{@user.ambition}"}
              %i.fa.fa-facebook.fb-icon
              | Share My Story
        
        #doing

        #bio
        .story
          .story-header
            %p
              WHO I AM

          .story#bio
            =render partial: 'bio', locals: {user: @user}

        .story
          .story-header
            %p
              GOAL
              / -if current_user && current_user == @user
              /   %span=link_to "Edit Details", edit_user_registration_path(current_user)
          .story#activities
            %p @goal.title
            =@big_daily_accomplishments.each do |bda|
              /render bda

        #timeline
        /TIMELINE WITH UPDATE
        .story
          .story-header
            %p MY GROWTH
          .story#timeline
            =render partial: 'timeline', locals: {user: @user}
        
        #believers
        /YOUR FOLLOWING
        .story
          .story-header
            %p WHO BELIEVES IN ME
            /have a "share profile" link or something to post on facebook
          
          .follow_form
            - if current_user && current_user.following?(@user)
              = render 'unfollow'

            - elsif current_user.nil?
              =link_to "I BELIEVE", new_user_registration_path, class: "btn btn-large make-button follow-button"
            -else
              = form_for(current_user.followships.build(followed_id: @user.id), remote: true) do |f|
                %div
                  = f.hidden_field :followed_id
                = f.submit "I BELIEVE", class: "btn btn-large follow-button"
          %br/
          
          .following
            #followers
              =render partial: 'followers', locals: {followers: @followers}

      
