:javascript
  $(document).ready( function() {
    bindings();
  });

  function bindings() {
    $( "[id^=edit_da_]" ).click(function() {
      da_id = $(this).attr("id").split("_")[2];
      $("#da_"+da_id).hide();
      $("#edit_form_"+da_id).removeClass('hidden');
    });

    $('.upload').change(function() {
      var $input, e, inputFile, inputFiles, reader;
      try {
        $input = $(this);
        inputFiles = this.files;
        if (inputFiles === void 0 || inputFiles.length === 0) {
          return;
        }
        inputFile = inputFiles[0];
        reader = new FileReader;
        reader.onload = function(event) {
          $('#preview_upload').removeClass('hidden');
          $('#preview_upload').empty();
          $('#preview_upload').attr('src', event.target.result);
        };
        reader.onerror = function(event) {};
        reader.readAsDataURL(inputFile);
      } catch (_error) {
        e = _error;
        console.log(e);
      }
    });
  }
/VERSION 2
.row
  .col-lg-2
  .user-card-container
    .col-lg-8.user-card
      /add top 3 activities right now
      
      -if current_user && current_user == @user
        -if @no_activities || @no_ambition || @no_photo
          .next-profile-actions
            %h5 Your profile is incomplete
            %h6 Take it from zero to 100
            /%p Do these things to make it 100%:
            -if @no_photo
              =link_to "Upload Profile Picture", "#", id: "upload_btn"
              =form_for current_user, url: add_profile_photo_user_path, html: { method: :put } do |f|
                = f.file_field :profile_photo, type: "file", label: 'Upload Attachment', style: "display:none;"
                .input-append
                  %span#file_display.input-large.uneditable-input
                  %div.submit-profile-photo{style:"display:none;"}
                    =f.submit "Upload"
            
            -if @no_ambition
              =link_to "Tell us your ambition", edit_user_registration_path(current_user, anchor: "ambition")
            -if @no_activities
              =link_to "What are 3 things you are doing",anchor: "doing"
            /=link_to "Tell us your ambition", edit_user_registration_path(current_user, anchor: "ambition")
          
      .text-center
        / -if current_user && current_user.admin?
        /   %p
        /     admin:
        /   %p
        /     #{@user.email}
        %h1.name
          =@user.name
        
        /.fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450"}
        
        -if current_user && current_user == @user
          %span=link_to "Your Settings", edit_user_registration_path(current_user)
      .profile-pic
        .round-border
          .round.round-center
            -if @user.profile_photo_file_name
              
              =image_tag(@user.profile_photo.nil?  ? '/assets/user-placeholder.png': @user.profile_photo.url(:medium), :alt => @user.name, class: "circle-image")
              

            -else
              
              =image_tag(@user.assets.empty?  ? '/assets/user-placeholder.png': @user.assets.first.image.url(:medium), :alt => @user.name, class: "circle-image")
            
            
      / .occupation-follow
      /   %p.occupation=@user.occupation 
         
      /.fb-share-button{"data-href" => "http://www.ambitionspotlight.com/#{user_path(@user)}", "data-width" => "100"}
      -if current_user && current_user == @user
        .text-center
          =link_to "Edit Profile Picture", "#", id: "upload_btn"
          .edit-photo
            =form_for current_user, url: add_profile_photo_user_path, html: { method: :put } do |f|
              = f.file_field :profile_photo, type: "file", label: 'Upload Attachment', style: "display:none;"
              .input-append
                %span#file_display.input-large.uneditable-input
                %div.submit-profile-photo{style:"display:none;"}
                  =f.submit "Upload"
      #ambition
      .text-center 
        .story
          .story-header
            %p
              WHERE I WANT TO BE IN 5 YEARS
          .story-text#ambition
            =render partial: 'ambition', locals: {user: @user}
            /%p=@user.ambition
            / -if current_user && current_user == @user
            /   %span.text-center.edit-link=link_to "Edit Details", edit_user_registration_path(current_user)
          
            
            
            / -if @user.leader?
            /   =link_to "Your Dashboard", leader_dashboard_path, style:"font-size:50%"
            
          =render partial: 'shared/follow', locals: {user: @user}
          - content_for :head do
            %meta{:content => "Ambition Spotlight | #{@user.name}", :property => "og:title"}
            %meta{:content => "#{@user.ambition}", :property => "og:description"}
            %meta{:content => "http://www.ambitionspotlight.com" + user_path(@user), :property => "og:url"}
            
            %meta{:content => "#{@user.profile_photo_file_name.nil?  ? '/assets/user-placeholder.png': @user.profile_photo.url(:medium)}", :property => "og:image"} 
            %meta{property: "og:type", content:"article"} 
          

          .share.text-center
            %a{class: "fb-share-link btn btn-large make-button follow-button", "data-name"=> "#{@user.name}", "data-link"=> "http://www.ambitionspotlight.com#{user_path(@user)}", "data-image" => "#{@user.profile_photo.nil?  ? '/assets/user-placeholder.png': @user.profile_photo.url(:medium)}", "data-description"=>"#{@user.ambition}"}
              %i.fa.fa-facebook.fb-icon
              | Share My Story
        
        #doing

        #bio
        .story
          .story-header
            %p
              WHO I AM
              / -if current_user && current_user == @user
              /   %span=link_to "Edit Details", edit_user_registration_path(current_user)
          .story#bio
            =render partial: 'bio', locals: {user: @user}
          
          / -if @user.youtube_id
          /   .video-container
          /     %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "//www.youtube.com/embed/#{@user.youtube_id}", :width => "640"}
          / -if @user.soundcloud_id
          /   .soundcloud-container
          /     %iframe{:frameborder => "no", :height => "350", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/#{@user.soundcloud_id}&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false", :width => "100%"}
          /   /%p=@user.bio 
        
        /GOAL
        /List them
        /Highlight 1
        .story
          .story-header
            %p
              GOAL
              / -if current_user && current_user == @user
              /   %span=link_to "Edit Details", edit_user_registration_path(current_user)
          .story#activities
            -if current_user
              #daily_accomplishments_partial
                =render partial: 'daily_accomplishments', locals: {goal: @goal, daily_accomplishments: @daily_accomplishments, da: @da}

            -else
              %p=@goal.title
              =@big_daily_accomplishments.each do |bda|
                /render bda

        / #timeline
        / /TIMELINE WITH UPDATE
        / .story
        /   .story-header
        /     %p MY GROWTH
        /   .story#timeline
        /     =render partial: 'timeline', locals: {user: @user}
        
        #believers
        /YOUR FOLLOWING
        .story
          .story-header
            %p WHO BELIEVES IN ME
            /have a "share profile" link or something to post on facebook
          
          - unless current_user == @user
            .follow_form
              - if current_user && current_user.following?(@user)
                = render 'unfollow'

              - elsif current_user.nil?
                =link_to "I BELIEVE", new_user_registration_path, class: "btn btn-large make-button follow-button"
              -else
                = form_for(current_user.followships.build(followed_id: @user.id), remote: true) do |f|
                  %div
                    = f.hidden_field :followed_id
                  = f.submit "I BELIEVE", class: "btn btn-large follow-button"
          %br/
          
          .following
            -if current_user && current_user == @user
              //invite people
            
            #followers
              =render partial: 'followers', locals: {followers: @followers}

      
