.row
  .col-lg-4
    %h2 Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'control-label'
        .controls
          = f.email_field :email, autofocus: true, class: "form-control", :placeholder => "big@dog.com"

      %div= f.submit "Send me reset password instructions", class: "btn btn-primary submit-button"
    = render "devise/shared/links"
