!!!
%html
  %head
    %title Ambitionspotlight
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-54764266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      function carousel(){
            var boxheight = $('#myCarousel .carousel-inner').innerHeight();
            var itemlength = $('#myCarousel .item').length;
            var triggerheight = Math.round(boxheight/itemlength+1);
          $('#myCarousel .list-group-item').outerHeight(triggerheight);
      };
  %body{class: "#{!current_user && current_page?(root_url) || current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(about_path) ? 'intro-header' : ''}", onload:"carousel()"}
    / #holder
    /   #body
    .wrapper
      .container
        = render 'layouts/header'    
      .container
        .content
          %p.notice.text-center= notice
          %p.alert= alert
          = yield
    / .push
    / 
    / %footer
    /   .footer
    /     = render 'layouts/footer'