!!!
%html
  %head
    %title Ambition Spotlight
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    = content_for?(:head) ? yield(:head) : ''
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-54764266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      function carousel(){
            var boxheight = $('#myCarousel .carousel-inner').innerHeight();
            var itemlength = $('#myCarousel .item').length;
            var triggerheight = Math.round(boxheight/itemlength+1);
          $('#myCarousel .list-group-item').outerHeight(triggerheight);
      };
    
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '284714538404819',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
  %body{ class:"#{current_page?('/about') ? 'about-background' : 'background' }"}
    /.background-cloak
    /#{ current_user && current_page?(user_path(current_user)) ? '' : 'background' }
    / #holder
    /   #body
    .overlay
      .wrapper
        .container
          = render 'layouts/header'    
        .container
          .content
            %p.notice.text-center= notice
            %p.alert= alert
            = yield
    / .push
    / 
    / %footer
    /   .footer
    /     = render 'layouts/footer'