!!!
%html
  %head
    %title !!
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    = yield :head
    = yield :javascript

  %body{ class: "controller-specific-style-#{action_name} controller-specific-style-#{controller_name}"}
    -if @landing_page
      .overlay
        %video#video_wrapper{"?wmode" => "transparent", :autoplay => "", :loop => "", :muted => ""}
          %source{src:"EPA-landingpage.mp4", type:"video/mp4"}

    .overlayx
      .wrapper
        .container
        = render 'layouts/header'
        .container
          .content
            %p.notice.text-center= notice
            %p.alert= alert
            = yield

    - if current_user
      :javascript
        FS.identify("#{current_user.id}", {
        displayName: "#{current_user.name}",
        email: "#{current_user.email}"
        });
