!!!
%html
  %head
    %title Ambitionspotlight
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-54764266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{class: "#{!current_user && current_page?(root_url)  ? 'intro-header' : ''}"}
    / #holder
    /   #body
    .wrapper
      .container
        = render 'layouts/header'    
      .container
        .content
          %p.notice= notice
          %p.alert= alert
          = yield
    .push
    /     .footer.navbar.navbar-fixed-bottom
    %footer
      .footer
        = render 'layouts/footer'